<header>
  <div class="container">
    <h1 class="header__logo">
      React+Angular
    </h1>
    <nav class="header__nav">
      <ul>
        <li>
          <a href="https://github.com/seanchatman/react-in-angular">Project</a>
        </li>
        <li>
          <a href="https://medium.com/@seanchatman">Blog</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/seanchatman/">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<section class="mission-statement">
  <div class="container">
    <h2 class="mission-statement__header">Javascript is Javascript. Let's collaborate</h2>
    <div class="mission-statement__react-root">
      <div id="react-root" ></div>
      <app-rx-example id="rx-root"></app-rx-example>
    </div>
  </div>
</section>
<!--<section class="inspiration">-->
  <!--<div class="container">-->
    <!--<h3 class="inspiration__header">Inspiration</h3>-->
    <!--<p>A million blog articles, videos, and podcasts have covered the topic of React vs Angular. The two top Javascript frameworks can be combined in one project. This demo is not designed for production but to get a conversation started.</p>-->
    <!--<ul>-->
      <!--<li><a href="https://hackernoon.com/angular-vs-react-the-deal-breaker-7d76c04496bc">Angular vs React — the DEAL BREAKER (Medium)</a></li>-->
      <!--<li><a href="https://medium.com/unicorn-supplies/angular-vs-react-vs-vue-a-2017-comparison-c5c52d620176">Angular vs. React vs. Vue: A 2017 comparison (Medium)</a></li>-->
      <!--<li><a href="https://www.youtube.com/watch?v=qYEEuiI4l10">Angular vs React Smackdown (Youtube)</a></li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</section>-->
<section class="quote">
  <div class="container">
    <blockquote class="quote__block">
      "This new generation will be able to solve fundamental questions like the separation of behavior and presentation."
    </blockquote>
    <span>- Web Standards Project, The Javascript Manifesto</span>
  </div>
</section>
<aside class="bottom-cta">
  <a class="button" href="https://www.meetup.com/javascriptla/events/246725773/" class="bottom-cta__link">Attend the Talk</a>
</aside>
